

div.load-subreddits {
  border: 1px solid #ddddddb0;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  list-style: none;
  padding: 0;
  text-align: center;
  background-color: rgb(253, 248, 248);
}

ul {
  padding: 0;
  margin: 0;
}

.subreddit {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
  list-style: none;
}